body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color:#0073e6;
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 10vh;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
    padding: 5px;
    transition: transform 0.3s ease-in-out;
}
header nav ul li:hover {
    transform: scale(1.1);
    
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}


main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#to-top-btn{
    position: fixed;
    bottom: 5px;
    right: 0;
    border:none;
    background-color: transparent;
    cursor: pointer;
}
#to-top-btn img{
    height: 40px;
    width: 40px;
}

footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 35px;
    position: relative;
    width: auto;
    margin-top: 20px;
}


footer p {
    margin: 10px 0 0;
    font-size: 0.9rem;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 15px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

footer nav ul li a:hover {
    color: #ffcc00;
}
#to-top-btn{
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
}

#news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.news-article {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex; 
     flex-direction: column;
     height: 450px;
}

.news-article:hover {
    transform: scale(1.05);
}

.news-article img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.news-article h3 {
    margin: 10px;
    font-size: 1.2rem;
    color: #0073e6;
    max-height: 23%;
    overflow: hidden;
}

.news-article p {
    margin: 0 10px 10px;
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.news-article a {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.news-article a:hover {
    color: #3cb920;
}


.article-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

 .article {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

 .article:hover {
    transform: scale(1.05);
}

.article h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #0073e6;
}

.article p {
    font-size: 0.9rem;
    color: #666;
}

 .article a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.article a:hover {
    color: #ffcc00;
}


section#about h2, section#about p {
    text-align: center;
}

section#about .team-member {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    gap: 20px;
}

.team-member-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 200px;
    text-align: center;
}

.team-member-card img {
    width: 100%;
    border-radius: 50%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

form button:hover {
    background-color: #005bb5;
}
